h1.forgot-password-header {
  text-align: center;
  font-weight: normal;
}

.forgot-password {
  padding: 4rem;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 25rem 0 25rem;
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
}

.email-forgot-password {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(0, 0, 0, 0);
  border-bottom-color: var(--primary-color)
}

.email {
  border: none;
  font-size: 16px;
  width: 100%
}

.email:focus {
  outline: none;
}

form.forgot-password-form-form input {
  border: none;
  font-size: 16px;
  width: 100%;
  padding-top: .5rem;
}

.password-forgot-password {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(0, 0, 0, 0);
  border-bottom-color: var(--primary-color);
  margin: 1.5rem 0 1.5rem 0;
}

form.forgot-password-form-form button {
  border: none;
  font-size: 16px;
  width: 100%;
  padding: .75rem;
  background-color: var(--primary-color);
  cursor: pointer;
  margin-top: 1rem;
}

form.forgot-password-form-form p {
  text-align: center;
  color: darkred;
}

.sign-up-to-login {
  display: flex;
  justify-content: center;
  margin: .5rem 25rem 0 25rem;
  padding: 1rem;
  background-color: white;
  text-indent: .5em;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .forgot-password {
    padding: 1rem;
  }

  .forgot-password-form {
    margin: 0
  }
}