h2.update-password-header {
  text-align: center;
  font-weight: normal;
}

/* .update-password {
  padding: 4rem;
} */

.update-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 25rem 0 25rem;
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
}

.email-update-password {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(0, 0, 0, 0);
  border-bottom-color: var(--primary-color)
}

.update-password {
  border: none;
  font-size: 16px;
  width: 100%
}

.update-password:focus {
  outline: none;
}



form.update-password-form-form input {
  border: none;
  font-size: 16px;
  width: 100%;
  padding-top: .5rem;
}

.password-update-password {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(0, 0, 0, 0);
  border-bottom-color: var(--primary-color);
  margin: 1.5rem 0 1.5rem 0;
}

form.update-password-form-form button {
  border: none;
  font-size: 16px;
  width: 100%;
  padding: .75rem;
  background-color: var(--primary-color);
  cursor: pointer;
}

form.update-password-form-form p {
  text-align: center;
  color: darkred;
}


@media (max-width: 1200px) {
  .update-password {
    padding: 1rem;
  }

  .update-password-to-sign-up {
    margin: 0;
    margin-top: .5rem;
  }

  .update-password-form {
    margin: 0
  }
}