.hero-section {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
}

.hero-section-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.hero-section-text ul {
  padding-left: 1rem;
  margin-top: .5rem;
}

.hero-section-text p {
  margin: 0;
  font-size: 18px;
}

.hero-section-text button {
  border: none;
  font-size: 16px;
  padding: .75rem;
  background-color: var(--primary-color);
  cursor: pointer;
  width: 6rem;
}

.hero-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-image {
  display: flex;
  padding: 2rem;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.hero-section-image img {
  width: 100%;
}

.pricing-page-home {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  justify-content: center;
  gap: 1rem;
}

.pricing-plan-header {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  justify-content: center;
  gap: 1rem;

}

.pricing-plan-header h2 {
  margin: 1rem 0 0 0;
  align-self: center;
}

.pricing-plan-header p {
  margin: 0;
  align-self: center;
}

.pricing-plan-section {
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
  gap: 1rem;
}

.pricing-plan {
  margin: 1rem 0rem 1rem 0rem;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.pricing-plan h2 {
  margin: 0;
}

.pricing-plan-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-plan button {
  margin: 0;
  border: none;
  font-size: 16px;
  padding: .75rem;
  background-color: var(--primary-color);
  cursor: pointer;
  width: 100%
}

.price {
  font-size: 30px;

}

.price span {
  font-size: 12px;
}

button a {
  text-decoration: none;
  color: black;
}

@media (max-width: 850px) {
  .hero-section {
    flex-direction: column
  }

  .hero-section-text {
    width: 100%;

  }

  .hero-section-image {
    width: 100%;
  }

  .pricing-plan-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}