.hero-section {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-section-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.hero-section-text ul {
  padding-left: 1rem;
  margin-top: .5rem;
}



.hero-section-text p {
  margin: 0;
  font-size: 18px;
}

.hero-section-text button {
  border: none;
  font-size: 16px;
  padding: .75rem;
  background-color: var(--primary-color);
  cursor: pointer;
  width: 6rem;
}

.hero-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-image {
  width: 60%;
}

.hero-section-image img {
  width: 100%;
}



@media (max-width: 800px) {
  .hero-section {
    flex-direction: column
  }

  .hero-section-text {
    width: 100%;

  }

  .hero-section-image {
    width: 100%;
  }

}