* {
  box-sizing: border-box;
}

.navbar-computer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: .25rem 1.5rem .25rem 1.5rem;
  background-color: var(--primary-color);
}

.site-title {
  font-size: 2rem;
}

.navbar-computer-left {
  display: flex;
}

.navbar-computer-left ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar-computer a {
  text-decoration: none;
  color: black;
}

.navbar-computer a:hover {
  color: black;
}

.navbar-computer-right {
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-computer-links ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}


.dropdown {
  position: relative;
  padding-left: 8rem;
}

.dropdown-button {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  right: 0;
  top: 25%;
  z-index: 1;
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  list-style: none;
  text-align: center;
}

.dropdown-content a {
  text-decoration: none;
}

.dropdown-content button {
  background-color: inherit;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.navbar-mobile {
  display: none
}

.navbar-mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: .25rem 1rem .25rem 1rem;
  background-color: var(--primary-color);
}

.dropdown-button-mobile {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 20px;
  padding-top: .5rem;
}

.open.navbar-mobile-links {
  display: flex;
}

.navbar-mobile-links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding: 0rem;
}

.navbar-mobile a {
  text-decoration: none;
  color: black;
}

.navbar-mobile-links button {
  background-color: inherit;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.navbar-mobile-links a:hover {
  color: black;
}

@media screen and (max-width: 700px) {
  .navbar-computer {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    flex-direction: column;
  }

  .navbar-mobile-links {
    display: none;
    flex-direction: column;
    width: 100%;

  }
}